modules = ["go-1.25"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "GoLaravel Docs"

[[workflows.workflow]]
name = "GoLaravel Docs"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd golaravel && go run ./docs/"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["./docs-server"]
build = ["bash", "-c", "cd golaravel && go build -o ../docs-server ./docs/"]

[nix]
channel = "stable-25_05"
