modules = ["go-1.25"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "GoLaravel Demo"

[[workflows.workflow]]
name = "GoLaravel Demo"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd golaravel && go run ./examples/demo/"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
